<head>
	<link rel="stylesheet" type="text/css" href="../stylesheet/style.css">
	<script type="text/javascript"></script>
</head>

<body>
	<div>
	In 2018, the news we read is often misinformed or straight up false. The term fake news has even been adopted into the common slang of us teens. Using FakeTake, you can easily determine if the news content you are consuming is fake or not. Simply paste the url of the article in question and receive instant data on the validity of your news. Of course, at the Harvard Crimson we take pride in the integrity of our content and will continue to strive for the best collegiate reporting in the nation. 
	</div>
</body>